html {
    background-color: rgb(58, 11, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.container {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.container__side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mines {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    max-width: fit-content;
    background-color: rgb(96, 7, 104);
    padding: 1em;
    border-radius: 10px;
}

.mines__tile {
    padding: 2em;
    background-color: rgb(137, 22, 148);
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.mines__tile:hover {
    background-color: rgb(169, 27, 182)
}

.bet__input {
    background-color: rgb(137, 22, 148);
    border-radius: 5px;
    border: 0;
    height: 40px;
    color: white;
    padding-left: 1em;
    outline: none;
}

.mines__input {
    background-color: rgb(137, 22, 148);
    border-radius: 5px;
    border: 0;
    height: 40px;
    color: white;
    padding-left: 1em;
    outline: none;
}

.bet__text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.bet__multiplier {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.mines__text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.money {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.button {
    padding: 0.5em;
    background-color: rgb(137, 22, 148);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.button-green-outline {
    padding: 0.5em;
    border: 2px solid rgb(99, 255, 99);
    background-color: transparent;
    color: rgb(99, 255, 99);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(172, 30, 185);
}

.button-green-outline:hover {
    border-color: rgb(90, 204, 90);
    color: rgb(90, 204, 90);
}

.locked {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

.game {
    background-color: rgb(137, 22, 148);
    color: white;
    padding: 3em;
    font-weight: bold;
    font-size: 32px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.game:hover {
    background-color: rgb(172, 30, 185);
}

.towers {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgb(96, 7, 104);
    padding: 1em;
    max-width: fit-content;
}

.towers__tile {
    background-color: rgb(137, 22, 148);
    padding: 2em;
    cursor: pointer;
    width: 40px;
    border-radius: 8px;
}

.towers__difficulties {
    display: flex;
    gap: 0.5em;
}

.difficulty {
    color: white;
    background-color: rgb(108, 7, 117);
    cursor: pointer;
    padding: 0.5em;
    border-radius: 8px;
    font-weight: bold;
}

.difficulty--selected {
    background-color: rgb(173, 25, 187);
}

.towers__text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.towers__row {
    display: flex;
    gap: 1em;
}

.header {
    width: 100%;
    background-color: rgb(137, 22, 148);
    padding: 1em;
}

.header__nav {
    display: flex;
    gap: 1em;
}

.header__nav a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.plinko {
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 7, 104);
    max-width: fit-content;
    padding: 3em;
    border-radius: 10px;
    gap: 1em;
}

.plinko__dots {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.plinko__row {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}

.plinko__dot {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(149, 32, 160);
}

.plinko__last {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

.plinko__lastdot {
    width: 40px;
    height: fit-content;
    padding: 0.1em;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}