html {
    background-color: rgb(58, 11, 85);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.container__side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mines {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    max-width: fit-content;
    background-color: rgb(96, 7, 104);
    padding: 1em;
}

.mines__tile {
    padding: 2em;
    background-color: rgb(137, 22, 148);
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.mines__tile:hover {
    background-color: rgb(169, 27, 182)
}

.bet__input {
    background-color: rgb(137, 22, 148);
    border-radius: 5px;
    border: 0;
    height: 40px;
    color: white;
    padding-left: 1em;
    outline: none;
}

.mines__input {
    background-color: rgb(137, 22, 148);
    border-radius: 5px;
    border: 0;
    height: 40px;
    color: white;
    padding-left: 1em;
    outline: none;
}

.bet__text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.bet__multiplier {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.mines__text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.money {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.button {
    padding: 0.5em;
    background-color: rgb(137, 22, 148);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.button-green-outline {
    padding: 0.5em;
    border: 2px solid rgb(99, 255, 99);
    background-color: transparent;
    color: rgb(99, 255, 99);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(172, 30, 185);
}

.button-green-outline:hover {
    border-color: rgb(90, 204, 90);
    color: rgb(90, 204, 90);
}

.locked {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}